html {
    scroll-behavior: smooth;
}
body {
    font-family: Lilex, monospace;
    /*font-style: italic;*/
    margin: 0px;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: space-between;
}
#header {
    display: flex;
    flex-direction: column;
    font-size: 22.5px;
    z-index: 1000;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.75);
    border-bottom-left-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    border: 1px solid black;
    position: fixed;
    width: 100%;
    top: -60px;
    margin: 0px;
    padding: 25px 0px 25px 0px;
    transition: 0.375s ease-in-out;
}

#header:hover {
    top: 0px;
    animation: none;
}

h1 {
    font-size: 20px;
    text-align: left;
    margin: 50px;
    padding: 2.5px 7.5px 2.5px 7.5px;
    text-align: center;
    border-radius: 50px;
    display: block;
    background-color: rgba(190, 190, 190, 1);
}
.whatsnew {
    border-color: rgba(50, 50, 50, 1);
    border-bottom: 1px solid;
    border-top: 1px dashed;
    background-color: rgba(240, 240, 240, 0.25);
    border-bottom-left-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    padding: 150px 10% 37.5px 10%;
}

.whatsnew ul li {
    font-size: 12pt;
    text-align: left;
}

p {
    border-width: 0px 0px 0px 2px;
    border-color: black;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    margin: 7.5%;
    padding: 0.25rem 0.25rem 0.25rem 2.5rem;
    border-left: 1px solid;
    border-radius: 42.5px;
}

.navigate {
    position: fixed;
    right: 7.5%;
    top: 42.5px;
    transition: 0.3s;
    width: 177.13px;
    color: rgba(0, 0, 0, 1);
    opacity: 0.75;
    text-align: center;
    padding: 5px;
    border-radius: 22.5px;
    border: 1px solid rgba(170, 170, 170, 1);
    background-color: rgba(190, 190, 190, 0.25);
}

.navigateitems {
    display: none;
    text-align: center;
    padding: 0px;
    transition: 0.3s;
    opacity: 1;
    margin: 0px;
    border-radius: 17.5px;
}

.navigate:hover .navigateitems {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    opacity: 1;
    background: rgba(75, 75, 75, 1);
    margin: 0px;
}

.navigateitems li {
    list-style: none;
    background: rgba(230, 230, 230, 1);
    border-radius: 17.5px;
    color: rgba(0, 0, 0, 1);
    transition: 0.3s;
    text-align: left;
    opacity: 1;
    border: 1px solid rgba(200, 200, 200, 0.75);
    margin: 6.25px;
    padding: 5px;
}

a {
    color: rgba(60, 60, 60, 1);
    text-decoration: none;
    transition: 0.25s ease-in-out;
}
a:hover {
    color: black;
    font-weight: 900;
}
.navigateitems li:hover {
    transform: translateX(5px);
    background: rgba(245, 245, 245, 0.875);
    color: rgba(100, 100, 100, 1);
    opacity: 1;
    transition: 0.1s;
    color: black;
    font-weight: 900;
}

.outdated {
    color: rgba(0, 0, 0, 0.625);
    list-style-type: circle;
    text-decoration: line-through;
}

.memorylane {
    display: block;
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    margin: 7.5%;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-left: 1px solid;
    border-radius: 42.5px;
}

.memory {
    background-color: rgba(225, 225, 225, 1);
    text-align: left;
    border-radius: 37.5px;
    padding: 10px 37.5px 10px 37.5px;
    margin: 37.5px;
    box-shadow: 1px 1px 1.5px 2px darkgrey;
}
.memory p::before {
    content: "⇒ ";
}
.history {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    margin: 7.5%;
    padding: 0.25rem 0.25rem 0.25rem 2.5rem;
    border-left: 1px solid;
    border-radius: 42.5px;
}
